*{
    margin:0;
    padding: 0;
    box-sizing: border-box;    
}
header
{
    width: 100%;
}
.background-blue
{
    background-color: #00669F;
}
.top-discount
{
    font-size: 15px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    padding: 10px;
    background-color: #1CD1B0;
}
.heroes
{    
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    padding-left: 28px;
    padding-top: 28px;
    padding-bottom: 26px;    
    box-shadow: 0px 10px 10px #afafaf;
}
main{
    display: flex;   
    justify-content: space-evenly;    
    align-items: center;
    padding: 200px 0px;
}
.card-container
{       
    height: 529px;
    width: 300px;            
    background-color: #F3F3F3;        
    position: relative;
    display: flex;
    flex-direction: column;
}
.card-photo
{
    height: 193px;
    
}
.card-photo .back-img
{
    height: 193px;
    width: 300px;    
}
.card-text
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 50px 17px 20px 17px;
    box-shadow: 0px 10px 10px #afafaf;  
    flex-grow: 2;      
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    align-items: center;
}
.card-avatar
{
    position: relative;    
}

.photo-heroe
{    
    height: 120px;
    width: 120px;
    position: absolute;
    right: 90px;
    bottom: -50px;    
    border-radius: 50%;
    box-shadow: 0px 10px 10px #afafaf;
}
.like-icon
{
    position: absolute;
    margin-left: 21px;
    margin-top: 21px;
}
.extra-card
{
    display: none;
}
footer 
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #FFF9F9;
    padding: 16px;
}
h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 400;    
    margin: 10px;
}
.hero-paragraph
{
    font-size: 16px;
    text-align: start;    
    line-height: 18px;
}
.see-more
{    
    text-align: center;
    font-size: 15px;
    color: #F3F3F3;
    padding: 15px 37px;
    border: none;
    margin-top: 40px;
}
@media(max-width:768px)
{
    .top-discount
    {
        background-color: #D1891C;
        font-size: 24px;
        padding: 1px 0px 1px 32px;
    }
    .heroes
    {
        content:"Card Super Heroes";
        color: #F3F3F3;
        padding-left: 32px;
    }
    main{
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 50px;
    }
    .extra-card
    {
        display: flex;
    }
    .card-container
    {
        margin: 0px 0px 50px 0px;
    }
    h2
    {
        font-size: 24px;
        font-weight: 400;
    }
    .hero-paragraph
    {
        font-size: 14px;
    }
    .see-more
    {
        margin: 0px;        
        width: fit-content;
    }
    footer {
        text-align: center;
        padding: 24px 0px;

    };

}
@media(max-width:425px)
{
    main{
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
    }
}